@mixin alineacion_texto {
    text-align: center;
}

@mixin display {
    display: flex;
    flex-direction: row;
}



body {
    background-color:#5BC0F8;
        

    .titulos1 {
        grid-area: titulo1;
        @include alineacion_texto;
        border: 3px solid;
        border-color:black;
        background-color:#0081C9;
        margin-top: 20px;
        animation-name: animacion_titulos;
        animation-fill-mode: 1;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        animation-delay: 0s;
        }

        @keyframes animacion_titulos {
            0% {scale: 1;}
            10% {scale: 0.97;}
            20% {scale: 0.95;}
            30% {scale: 0.93;}
            40% {scale: 0.9;}
            50% {scale: 0.9;}   
            60% {scale: 0.9;}
            70% {scale: 0.93;}
            80% {scale: 0.95;}
            90% {scale: 0.97;}
            100% {scale: 1;}
        }
    
        .estilo_ul {
        list-style-type: none;
        @include display;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
                }
            
        .estilo_li { 
        border: 2px;
        border-style: solid;
        border-color: black;
        background-color: #FFC93C;
        box-shadow:none;
        @include alineacion_texto;
            }

        .footer {
        border: 3px;
        border-style: solid;
        border-color: black;
        background-color:#0081C9;
        @include alineacion_texto;
        grid-area: footera;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 20px;
        color:black
                }

        .color_mail {
            color:black
        }

        .formato {
        height: 50%;
        width: 20%;
        @include alineacion_texto;
        border: 1px solid burlywood
                }

        .imagenes_general {
        @include alineacion_texto;
        margin-top: 10px;
        margin-bottom: 10px;
                        }

        .textos_intro {
        @include alineacion_texto;
        border:2px solid;
        border-color: black;
        background-color: #FFE15D;
        margin-top: 10px;
        margin-bottom: 10px;
                        }
        
        .menu {
        @include display;
        align-items: center;
        }              

        div .textos_intro:hover {
            transform: scale(1.02);
            background-color: #FFB100;

            transition: scale 2s, background-color 3s;
        } 

        


    form {

        .form1 {
            border: 4px;
            border-style: solid;
            border-color: black;
            margin-bottom: 10px;
            }

        .titulo_form {
            @include alineacion_texto;
        }
            
        .items_form {
        margin-top: 10px;
        }
    
        .botones {
        margin-bottom: 30px;
        }
        }
    }
    

    

    

    

    

    

        

            
        

        