

#imagen1a {
    grid-area: imagen1a;
}

#texto1 {
    grid-area: texto1;
}

#imagen2a {
    grid-area: imagen2a;
}

#textoa2 {
    grid-area: textoa2;
}

#imagena3 {
    grid-area: imagena3;
}





#imagenb1 {
grid-area: imagenb1;
width: 350px;
}

#textob1 {
    grid-area: textob1;
}

#imagenb2 {
    grid-area: imagenb2;
    width: 350px
}

#textob2 {
    grid-area: textob2;
}



h1 {
    grid-area: titulo1;
    text-align: center;
    border: 3px solid;
    border-color:darkblue;
    background-color:cornflowerblue;
    margin-top: 20px;
   
    }
    
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    li { 
        border: 2px;
        border-style: solid;
        border-color: black;
        background-color: darksalmon;
        box-shadow:none;
        text-align: center;
        }

    

    .formato {
    height: 50%;
    width: 20%;
    text-align: center;
    border: 1px solid burlywood
    }

    .imagen1 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .textos_intro {
        text-align:center;
        border:2px solid;
        border-color: blue;
        background-color: darksalmon;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    body {
        background-color:skyblue;
        }

    .footer {
        border: 3px;
        border-style: solid;
        border-color: black;
        background-color: gainsboro;
        text-align: center;
        grid-area: footera;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 20px;
            }

        .form1 {
            border: 4px;
            border-style: solid;
            border-color: black;
            margin-bottom: 10px;
            }

            
        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .titulo_form {
            text-align: center;
        }
        
        .items_form {
            margin-top: 10px;
        }

        .botones {
            margin-bottom: 30px;
        }